main{
    float: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul{
    display: flex;
    float: left;
}

li{
    padding: 20px;
    list-style: none;
    text-decoration: none;
}

.right{
    float: right;
}

.main-body{
    padding: 40px;
}